.commentArea {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;


    .profile {
        display: flex;
        align-items: center;
        margin-right: 10px;

        .avatar {
            box-sizing: initial;
            width: 3rem;
            height: 3rem;
            border-radius: 8px;
            border: 1px solid var(--gray-800);
            margin-bottom: 0.5rem;
            outline: 2px solid var(--green-500);
        }

    }

    .comment {
        background-color: var(--gray-600);
        width: 100%;
        padding: 10px;
        border-radius: 5px;

        .commentHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .userInfo {
                display: flex;
                flex-direction: column;

                strong {
                    color: var(--grey-100);
                }
        
                time {
                    font-size: 0.875rem;
                    color: var(--gray-400);
                }
            }
        }

        .commentBody {
            margin: 20px 0;   
        }

        .commentFooter {
            display: flex;
            align-items: center;

            span {
                font-size: 1.27rem;
            }
        }
    }

}

.icon {
    margin-right: 10px;
    cursor: pointer;
}